audio {
    duration: 5s;
}

.container-play{
   
    & h1{text-align: center;
        padding-bottom: 40px;
    }
}

.in-game{

    display: flex;
    gap: 20px;

    & .artist-info{

        & .name-artist{
            display: flex;
            align-items: center;
            gap: 15px;
            
            & h2{
                height: 20px;
            }

            & a {
                color: white;
                font-size: 1.3rem;
                height: 10px;
                
            }

        }

        & img{
            height: 250px;
            width: 250px;
            object-fit: cover;
            border-radius: 25px;
        }



    }

    & .card-track{
        height: 500px;
        width: 300px;
        background-color: #111112;
        border-radius: 25px;

        font-family: font-main-bold;

        display: flex;
        align-items: center;
        justify-content: center;

        & .btn-comenzar{
            border: none;
            background-color: var(--green-spotfiy);
            padding: 10px;
            color: white;
            font-family: font-main-bold;
            border-radius: 20px;
            cursor: pointer;
        }
    }

    & .container-data{
        gap: 10px   ;
        display: flex;
        flex-direction: column;
    }
}

.selected-button-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    & button{
        border: none;
        border-radius: 20px;
        height: 30px;
        font-family: font-main-bold;
        background-color: var(--green-spotfiy);
        color: white;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; 
        width: 100%;
    }
}

.game-container{
    width: 80%;
    height: 100%;
    
    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.image-selected{
    height: 100%;
    width: 100%;
    border-radius: 20px;

    filter: blur(10px)  hue-rotate(90deg);
    object-fit: cover;
}

audio{
    max-width: 100%;
    height: 30px;
}

.loading-image{
    height: 250px;
    width: 250px;
}

.clicked{
    animation: clickedImage 2s; 

}

.correct-option{
    animation: correctOption 2s;
}

.losee-option{
    animation: loseeOption 2s;
}

@keyframes correctOption{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes loseeOption{
    0%{
        background-color: var(--green-spotfiy);
    }
    80%{
        background-color: #d61e1e;
    }
}

@keyframes clickedImage {
    0% {
        filter: blur(10px) hue-rotate(90deg); 
    }
    30%{
        filter: none ; 
    }
    80%{
        filter: none ; 
    }
    100% {
        filter: blur(10px) hue-rotate(90deg); 
    }
  }

.score-mobile{
    display: none;
}

@media (max-width: 580px){

    .in-game{
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        
        & .artist-info{
            align-items: center;
            flex-direction: row;
            display: flex;
            justify-content: center;

            & img{
                max-width: 100px;
                max-height: 100px;
                margin: 10px ;
            }

            & .name-artist{
                align-items: flex-start;

                flex-direction: column;
                & a{
                    display: none;
                }
                & * {
                    margin-bottom: 0;
                }

                & h2{
                    margin-top: 0;
                }
            }

            & .score-artist2{
                display: flex;
                flex-direction: column;
                gap: 0;

                & *{
                    margin: 5px 0px 0px 0px;
                }
            }

            & .score-artist{
                display: none;
            }
        }

    }


}

@media (max-width: 300px){

    article .card-track{
        max-width: 90vw;

        align-items: center;
        justify-content: center;

        & .loading-image{
            max-width: 100%;
            margin: 0 auto;
        }

    }

}

